body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(129, 255, 129), rgb(104, 217, 255));
}

header {
  background:rgb(27, 148, 189);
  color: #fff;
  padding: 20px;
  text-align: center;
  animation: mymove 10s infinite;
}
  @keyframes mymove {
0%{background-color: rgb(27, 148, 189);}
25%{background-color: rgb(107, 219, 107);}
    
  }

#property-listing {
  margin: 2px auto;
  max-width: 800px;  
}

.property-card-container{
display: flex;

}
.property-card {
  flex: 1;
  background-color: #dd5f5f;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 30px;
  float: left;
  position: relative;
  box-sizing: border-box;
}
.property-card:nth-child(odd){
  background-color: #dd5f5f;
}
.property-card:nth-child(even){
  background-color: aqua;
}

.property-card img {
  width: 50%;
  height: 20%;
}

.property-card h3 {
  margin-top: 10px;
}

.property-card a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 4px;
}

footer {
  background-color: #333;
  color: rgba(55, 133, 197, 0.74);
  padding: 20px;
  text-align: center;
  
}

